#list {
    float: left;
    width: 20vw;
    height: 80vh;
    background-color: #869792;
}

#container {
    background-color: #3b4250;
    float: left;
    width: 44vw;
    height: 80vh;
}

#page {
    width: 100%;
    height: 100%;
}

#input {
    width: 150px;
    height: 30px;
    margin: auto;
    display: block;
    position: relative;
    top: 20%;
}
p {
    margin: auto;
    display: block;
    position: relative;
    top: 19%;
    left: 49%;
    font-size: 20px;
}

textarea {
    position: relative;
    top: 200px;
    left: 36%;
}

#message{
    margin: auto;
    display: block;
    position: relative;
    top: 25%;
    left: 45%;
    font-size: 20px;
}

#send {
    width: 120px;
    height: 50px;
    background-color: #869792;
    position: relative;
    top: 250px;
    left: 120px;
}