#list {
    float: left;
    width: 20vw;
    height: 80vh;
    background-color: #597588;
}

#container {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://eskipaper.com/images/best-backgrounds-1.jpg");
    background-size: 150%;
    float: left;
    width: 44vw;
    height: 80vh;
}

#page {
    width: 100%;
    height: 100%;
}

#input {
    width: 150px;
    height: 30px;
    margin: auto;
    display: block;
    position: relative;
    top: 20%;
}
p {
    margin: auto;
    display: block;
    position: relative;
    top: 19%;
    left: 49%;
    font-size: 20px;
    color: white;
}

#textarea {
    position: relative;
    top: 200px;
    left: 36%;
}

#message{
    margin: auto;
    display: block;
    position: relative;
    top: 25%;
    left: 45%;
    font-size: 20px;
    color: white;
}

#send {
    width: 120px;
    height: 50px;
    background-color: #869792;
    position: relative;
    top: 250px;
    left: 120px;
}

li {
    font-size: 25px;
    cursor: pointer;
}

li:hover {
    background-color: #3b4250;
}